Clase/Lenguaje de marcas/Ejercicios/RA4-DTD_XSD/XSD/PR1/RobertRoyo_Ex5.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="personal">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="persona" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="dades">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nom" type="xs:string" maxOccurs="unbounded"/>
                                        <xs:element name="cognoms">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="primer" type="xs:string"/>
                                                    <xs:element name="segon" type="xs:string" minOccurs="0"/>
                                                </xs:sequence>
                                                <xs:attribute name="complet" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="si"/>
                                                            <xs:enumeration value="no"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="dni" type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="tipus" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="direccio">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="tipus" type="xs:string" use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="comentari" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>